<div class="container-fluid">                
    <div class="container bs-docs-container">
        <form method="post" id="WorkerRelForm" name="WorkerRelForm">
            <div class="row">
                <h3 class="text-primary" id="heading">Add Worker Relationship</h3>
                <hr>
                <div class="col-md-4 col-sm-12" id="employerDiv">   
                    <fieldset>
                        <legend class="custom-legend">Your details </legend>   
                        <div class="form-group">
                            <label for="primary-c2t-id" class="control-label col-md-4">C2TID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="primary-c2t-id" name="primary-c2t-id" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employer-first-name" class="control-label col-md-4">First name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="employer-first-name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employer-last-name" class="control-label col-md-4">Last name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="employer-last-name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employer-phone-number" class="control-label col-md-4">Phone</label>
                            <div class="col-md-8">
                                <input type="tel" class="form-control" id="employer-phone-number" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employer-email" class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="employer-email" readonly>
                            </div>
                        </div>
                        <p><h5 class="help-block" id="newSelfRegLink">&nbsp;</h5>                        
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12" id="employeeDiv">
                    <fieldset>
                        <legend class="custom-legend">Worker Details </legend>  
                        <div class="form-group">
                            <label for="secondary-c2t-id" class="control-label col-md-4">C2TID</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="secondary-c2t-id" name="secondary-c2t-id" required autofocus onblur="getUserDetailsById(this.value)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employee-first-name" class="control-label col-md-4">First name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="employee-first-name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employee-last-name" class="control-label col-md-4">Last name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="employee-last-name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employee-phone-number" class="control-label col-md-4">Phone</label>
                            <div class="col-md-8">
                                <input type="tel" class="form-control" id="employee-phone-number" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="employee-email" class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="employee-email" readonly>
                            </div>
                        </div>
                        <p><h5 class="help-block" id="newRegLink">Worker not registered? Click <a href="/register-person">here</a> to register worker</h5>  
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12">
                    <fieldset>
                        <legend class="custom-legend">Work Details </legend>
                        <div class="form-group">
                            <label for="job-title" class="control-label col-md-4">Job Title</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="job-title" name="job-title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start-date" class="control-label col-md-4">Start Date</label>
                            <div class="col-md-8">
                                <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="start-date" data-link-format="yyyy-mm-dd">
                                    <input type="text" class="form-control" name="start-date" id="start-date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar text-success"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="relationship_type" class="control-label col-md-4">Relationship</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="relationship_type" value="Worker" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="job-description" class="control-label col-md-4">Job Description</label>
                            <div class="col-md-8">
                                <textarea name="job-description" id="job-description" style="resize: vertical;" rows="5" class="form-control"></textarea>
                            </div>
                        </div>        
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <button class="btn btn-primary pull-right" id="createRelationship" type="submit" style="margin-top: 5px;">
                        <span><i class="glyphicon glyphicon-link"></i></span> Create
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="assets/js/add-worker-relationship.js"></script>

