<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel signup-modal">
                <div class="panel-heading">
                    <h2 align="center">
                        <img src="assets/img/icon.png" alt="C2T icon" width="110" height="110">
                        <br> Welcome to Check to Trust</h2>
                </div>
                <div class="panel-body">
                    <form name="regForm" id="regForm" method="post">
                        <fieldset>
                            <div class="form-group" id="username-div">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="Username" required onblur="verifyUsername(this.value)"
                                       oninput="clearSignUpMessage()" onchange="clearSignUpMessage()">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="first-name" id='first-name'
                                       placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="last-name" id="last-name"
                                       placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" id="email"
                                       placeholder="Email address" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" name="phone-number" id="phone-number"
                                       placeholder="Phone Number" required>
                            </div>
                            <button class="btn btn-md btn-primary btn-block" id="signUpBtn" type="submit"><strong>Create
                                Account</strong></button>
                        </fieldset>
                    </form>
                    <h4 align="center"><strong>OR</strong></h4>
                    <button class="btn btn-md btn-custom btn-block" type="button"><strong>Create Account with
                        Facebook</strong></button>
                    <div id="TOS">
                        <h5 align="center">By creating an account, you agree to Check to Trust's <a
                                href="#"><strong>Terms of Service & Privacy
                            Policy</strong></a></h5>
                    </div>
                    <hr>
                    <div id="TOS">
                        <h4 align="center">Already have an account? <a href="/login"><strong>Log In</strong></a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/sign-up.js"></script>