
<div class="container" style="text-align:center;">
    <div class="col-md-3 col-sm-12 shadow">
        <h3>Your Registrations</h3>
        <div class="divider"></div>
        <div class="fixed" id="regDiv">
            <p id="register-self">
                <a href="/register-self">Register Yourself</a>
            </p>
            <p></p>
            <p>
                <a href="/register-person">Register Others</a>
            </p>
            <p>
                <a href="/register-company">Register a Company</a>
            </p>
            <p>You have registered
                <span class="badge">0</span> people</p>
            <p>You have registered
                <span class="badge">0</span> companies</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 shadow">
        <h3>Your Relationships</h3>
        <div class="divider"></div>
        <div class="fixed">
            <p>
                <a href="/relationships-dashboard">Add Relationship</a>
            </p>
            <p>You have
                <span class="badge" id="number_of_relationships">0</span> relationships</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 shadow">
        <h3>Account Balance</h3>
        <div class="divider"></div>
        <div class="fixed">
            <p>You have &#8358; 56,800</p>
            <p>
                <a href="">Add Credit</a>
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <h3>Track &amp; Trace</h3>
        <div class="divider"></div>
        <div class="fixed">
            <p>
                <a href="">New Track &amp; Trace</a>
            </p>
            <p>You are now tracking
                <span class="badge">0</span> people</p>
            <p>You are now tracking
                <span class="badge">0</span> items</p>
        </div>
    </div>
</div>