<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel signup-modal">
                <div class="panel-heading">
                    <h2 align="center">
                        <img src="assets/img/icon.png" alt="C2T icon" width="110" height="110">
                        <br> Welcome to Check to Trust</h2>
                </div>
                <div class="panel-body">
                    <form id="forgotPasswordForm" name="forgotPasswordForm" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email"
                                   placeholder="Email Address" required>
                        </div>
                        <button class="btn btn-md btn-primary btn-block" type="submit" id="resetBtn"><strong>Reset
                            Password</strong></button>

                    </form>
                    <h4 align="center"><strong>OR</strong></h4>
                    <a href="/login" class="btn btn-md btn-info btn-block"><strong>Log In with Email</strong></a>
                    <button class="btn btn-md btn-custom btn-block" type="button"><strong>Log In with
                        Facebook</strong></button>
                    <hr>
                    <div id="TOS">
                        <h5 align="center">Not on Check to Trust yet ? <br><a href="/create-account"><strong>Create
                            Account</strong></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="assets/js/forgot-password.js"></script>
