<div id="carousel" class="carousel fade-carousel slide" data-interval="4000" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner " role="listbox">
        <div class="item slides active">
            <div class="slide-1"></div>
            <div class="hero">
                <h1>Track Your Employees, <br> tenant and valuables anytime</h1>
                <div class="col-md-12" align="center">
                    <a href="/track" class="btn btn-hero btn-lg" role="button">Get Started</a>
                </div>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-2"></div>
            <div class="hero">
                <h1>Verify People against the <br> NIMC database</h1>
                <div class="col-md-12" align="center">
                    <a href="/verification" class="btn btn-hero btn-lg" role="button">Get Started</a>
                </div>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-3"></div>
            <div class="hero">
                <h1>Register your workers, tenants <br>and create relationships for all your <br> dealings with them
                </h1>
                <div class="col-md-12" align="center">
                    <a href="/register-person" class="btn btn-hero btn-lg" role="button">Get Started</a>
                </div>
            </div>
        </div>
        <div class="item slides">
            <div class="slide-4"></div>
            <div class="hero">
                <h1>Search for people and <br> verify their Relations before <br> dealing with them</h1>
                <div class="col-md-12" align="center">
                    <a href="/search" class="btn btn-hero btn-lg" role="button">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row equal">
        <div class="col-md-3 col-sm-12 shadow padded">
            <h4 class="text-primary" style="font-weight: bold">Registration &amp; Relationships</h4>
            <div class="" style="margin-top: 24px; margin-bottom: 24px;">
                <p>
                    Register your employees, tenants, business relationships and other valuables. You can rate
                    relationships you create good
                    and bad so that in the future others can decide to trust the people or not.
                </p>
            </div>
            <a href="/login" class="btn btn-primary align_bottom"><strong>Proceed</strong></a>
        </div>
        <div class="col-md-3 col-sm-12 shadow padded">
            <h4 class="text-primary" style="font-weight: bold">Search</h4>
            <div class="" style="margin-top: 24px">
                <p>
                    Search for people on this platform and get to see their relationships history before dealing with
                    them.
                </p>
                <form id="searchForm" method="" align="center">
                    <input type="text" class="form-control" id="searchField" name="searchField"
                           placeholder="NIN/C2TID/NAME" required>
                </form>
            </div>
            <button class="btn btn-primary align_bottom" type="button"><strong>Search</strong></button>
        </div>
        <div class="col-md-3 col-sm-12 shadow padded">
            <h4 class="text-primary" style="font-weight: bold">ID Verification</h4>
            <div class="" style="margin-top: 24px">
                <p>
                    Verify people against the NIMC database to be sure they are who the say the are.
                </p>
                <form id="idVerificationForm" method="">
                    <input type="text" class="form-control" id="ninnumber" placeholder="NIN" required>
                    <input type="text" class="form-control" id="first_name" placeholder="First Name" required>
                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" required>
                </form>
            </div>
            <button class="btn btn-primary align_bottom" type="button"><strong>Verify</strong></button>
        </div>
        <div class="col-md-3 col-sm-12 padded">
            <h4 class="text-primary" style="font-weight: bold">Track &amp; Trace</h4>
            <div class="" style="margin-top: 24px">
                <p>
                    Get notified when people you are tracking appear on the system, It could be a worker that eloped or
                    an item that was stolen
                    and misplaced.
                </p>
            </div>
            <a href="/login" class="btn btn-primary align_bottom"><strong>Start Tracking</strong></a>
        </div>
    </div>

</div>
