<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel signup-modal">
                <div class="panel-heading">
                    <h2 align="center">
                        <img src="assets/img/icon.png" alt="C2T icon" width="110" height="110">
                        <br> Welcome to Check to Trust</h2>
                </div>
                <div class="panel-body">
                    <form id="loginForm" name="loginForm">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" class="form-control" name="id" id="id" placeholder="Username"
                                       required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id='password'
                                       placeholder="password" required>
                            </div>
                            <input type="hidden" value="username" id="auth-type" name="auth-type"/>
                            <button class="btn btn-md btn-primary btn-block" type="submit" id="loginBtn"><strong>Log
                                In</strong></button>
                        </fieldset>
                    </form>
                    <h4 align="center"><strong>OR</strong></h4>
                    <button class="btn btn-md btn-custom btn-block" type="button"><strong>Log In with Facebook</strong>
                    </button>
                    <div id="TOS">
                        <h5 align="center"><a href="/forgot-password"><strong>Forgot your password?</strong></a></h5>
                    </div>
                    <hr>
                    <div id="TOS">
                        <h5 align="center">Not on Check to Trust yet ? <br><a href="/create-account"><strong>Create
                            Account</strong></a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../assets/js/login.js"></script>