<div class="container">
    <h3 class="text-primary" id="heading">Manage Users</h3>
    <hr>
    <div class="row">
        <div class="col-md-7 col-md-offset-1 col-sm-12">
            <form id="manageUsersForm" name="manageUsersForm">
                <div class="form-group">
                    <label for="name" class="control-label col-md-6">Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="role" class="control-label col-md-6">Role</label>
                    <div class="col-md-6">
                        <select name="role" id="role" class="form-control">
                            <option>-- Select Role --</option>
                            <option>All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-6">Status</label>
                    <div class="col-md-6" style="margin-top: 8px">
                        <label class="radio-inline">
                            <input type="radio" name="userStatus" id="all" value="all" checked> All
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="userStatus" id="active" value="active"> Active
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="userStatus" id="archived" value="archived"> Archived
                        </label>
                    </div>
                </div>

                <div class="form-group" align="right">
                    <button class="btn btn-primary btn-md" id="searchBtn" type="submit">
                        <i class="glyphicon glyphicon-search"></i> &nbsp; Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-condensed table-responsive table-hover" id="searchResultTable">
                <thead>
                    <tr>
                        <th>
                            <strong>SN</strong>
                        </th>
                        <th>
                            <strong>Name</strong>
                        </th>
                        <th>
                            <strong>Email</strong>
                        </th>
                        <th>
                            <strong>Username</strong>
                        </th>
                        <th>
                            <strong>Phone Number</strong>
                        </th>
                        <th>
                            <strong>Role</strong>
                        </th>
                        <th>
                            <strong>Action</strong>
                        </th>
                    </tr>
                </thead>
                <tbody id="searchResultTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="assets/js/vendor/datatables.min.js"></script>
<script src="assets/js/manage-users.js"></script>