<div class="container">
    <div class="row" align="center">
        <h3>Would you love to rate your relationship with
            <br>
            <span id="userFullName" class="text-primary userFullName"></span>
        </h3>
        <form method="POST" id="rateUserForm" name="rateUserForm">
            <div class="col-md-12">
                <div class="rating col-md-offset-5">
                    <input type="radio" id="star5" name="rating" value="5" />
                    <label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4.5" />
                    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" />
                    <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3.5" />
                    <label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" />
                    <label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2.5" />
                    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" />
                    <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1.5" />
                    <label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" />
                    <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <!--<input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>-->
                </div>

                <br>
                <div>
                    <div class="col-md-6 col-md-offset-3">
                        <textarea name="ratingComment" id="ratingComment" cols="30" rows="5" placeholder='Add Comment Here' class="form-control"
                            required></textarea>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="col-md-6 col-md-offset-3 submitRatingBtn">
                    <button class="btn btn-primary btn-lg" type="submit" id="submitRatingBtn">Submit Rating</button>
                </div>
            </div>
        </form>

        <div class="row">
            <a href="javascript:void(0)" id="notNow">
                <h3 class="text-danger">Not Now</h3>
            </a>
        </div>
        

    </div>

</div>

<script src="assets/js/rate-relationship.js"></script>