<div class="container-fluid">
    <div class="container bs-docs-container">
        <form id="newPersonForm" name="newPersonForm">
            <div class="row">
                <h3 class="text-primary" id="heading">Register Person</h3>
                <hr>
                <div class="col-md-4">
                    <fieldset>
                        <legend class="custom-legend">Biodata </legend>
                        <div class="form-group">
                            <label for="username" class="control-label col-md-4">Username</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first-name" class="control-label col-md-4">First name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="first-name" name="first-name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last-name" class="control-label col-md-4">Last name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="last-name" name="last-name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-4">Middle name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="(Optional)" id="middle-name" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="control-label col-md-4">Gender</label>
                            <div class="col-md-8">
                                <select name="gender" id="gender" class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dob" class="control-label col-md-4">Date of Birth</label>
                            <div class="col-md-8" style="margin-bottom: 4px">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-link-field="dob">
                                    <input type="text" class="form-control" name="dob" id="dob">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar text-success"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="marital-status" class="control-label col-md-4">Marital Status</label>
                            <div class="col-md-8">
                                <select name="marital-status" id="marital-status" class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend class="custom-legend">Contact </legend>
                        <div class="form-group">
                            <label for="title" class="control-label col-md-4">Title</label>
                            <div class="col-md-8">
                                <select name="title" id="title" class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone-number" class="control-label col-md-4">Telephone</label>
                            <div class="col-md-8">
                                <input type="tel" class="form-control" id="phone-number" name="phone-number" placeholder="+2348030123456" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address-line" class="control-label col-md-4">Address</label>
                            <div class="col-md-8">
                                <textarea name="address-line" id="address-line" class="form-control" cols="30" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="town" class="control-label col-md-4">Town</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="town" name="town" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state-of-residence" class="control-label col-md-4">Resident State</label>
                            <div class="col-md-8">
                                <select name="state-of-residence" id="state-of-residence" class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="post-code" class="control-label col-md-4">Postcode</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="post-code" name="post-code" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state-of-origin" class="control-label col-md-4">State of Origin</label>
                            <div class="col-md-8">
                                <select name="state-of-origin" id="state-of-origin" class="form-control">
                                    <option>-- Select --</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <legend class="custom-legend">Identification </legend>
                        <div class="form-group">
                            <label for="nin" class="control-label col-md-4">
                                NIN
                                <a href="#" data-toggle="tooltip" title="National Identification Number" data-placement="top">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </label>

                            <div class="col-md-8">
                                <input type="text" class="form-control" id="nin" name="nin" placeholder="(Optional)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bvn" class="control-label col-md-4">
                                BVN
                                <a href="#" data-toggle="tooltip" title="Bank Verification Number" data-placement="top">
                                    <span class="glyphicon glyphicon-question-sign"></span>
                                </a>
                            </label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="bvn" name="bvn" maxlength="11">
                            </div>
                        </div>
                        <div id="dynamic" class="form-group">
                            <div class="form-group">
                                <label for="id-type1" class="control-label col-md-4">ID Type</label>
                                <div class="col-md-8">
                                    <select name="id-type1" id="id-type1" class="form-control">
                                        <option>-- Select --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id-number1" class="control-label col-md-4">ID number</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="id-number1" name="id-number1">
                                    <button class="btn btn-link" id="addIDType">Add More</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12"><hr></div>
                        <div class="form-group col-md-6" style="text-align: -webkit-center">
                            <label for="photo-input">Photo</label>
                            <div class="form-group">
                                <img src="assets/img/dummy.jpg" alt="user-passport" id="photo-preview" class="img-circle custom-image">
                                <input type="hidden" id="photo-url" name="photo-url" value="http://stamp-176816.appspot.com/assets/dummy.jpg">
                            </div>
                            <input type="file" id="photo-input" class="form-control" accept=".png, .jpg, .jpeg" onchange="fileChange(event.target)">
                        </div>
                        <div class="col-md-6" style="text-align: -webkit-center">
                            <label for="id-card-preview">ID Card</label>
                            <div class="form-group">
                                <img src="assets/img/dummy.jpg" alt="id-card-preview" id="id-card-preview" class="img-circle custom-image">
                                <input type="hidden" id="id-url" name="id-url" value="http://stamp-176816.appspot.com/assets/dummy.jpg">
                            </div>
                            <input type="file" id="id-card-input" class="form-control" accept=".png, .jpg, .jpeg" onchange="fileChange(event.target)">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-12" style="text-align: right">
                    <a class="btn btn-danger btn-md" id="clearForm" href="/dashboard">
                        <i class="glyphicon glyphicon-remove"></i> Cancel
                    </a>
                    <button class="btn btn-primary btn-md" id="saveBTN" type="submit">
                        <i class="glyphicon glyphicon-floppy-disk"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="assets/js/register-person.js"></script>