<div class="container" style="text-align:center;">
    <div class="row">
        <h3 class="text-primary" id="heading">Registrations</h3>
    </div>
    <hr>
    <div>
        <div class="row" style="margin-top: 32px" id="regDiv">
            <div class="col-md-4" id="register-self">
                <a href="/register-self">
                    <div class="dash-item">Register Yourself</div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/register-person">
                    <div class="dash-item">Register Others</div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/register-company">
                    <div class="dash-item">Register a Company</div>
                </a>
            </div>
        </div>
    </div>
</div>
