<div class="container-fluid">                
    <div class="container bs-docs-container">
        <form method="post" id="newCompanyForm" name="newCompanyForm">
            <div class="row">
                <h3 class="text-primary" id="heading">New Company Registration</h3>
                <hr>
                <div class="col-md-4 col-md-offset-2 col-sm-12">                    
                    <fieldset>
                        <legend class="custom-legend">Details </legend>   
                        <div class="form-group">
                            <label for="company-name" class="control-label col-md-4">Name</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="company-name" name="company-name" required>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="registrar-c2t-id" name="registrar-c2t-id">
                        <div class="form-group">
                            <label for="address-line" class="control-label col-md-4">Address</label>
                            <div class="col-md-8">
                                <textarea name="address-line" id="address-line" class="form-control" cols="30" rows="5" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="city" class="control-label col-md-4">Town</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="city" name="city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state" class="control-label col-md-4">State</label>
                            <div class="col-md-8">
                                <select name="state" id="state" class="form-control">
                                    <option>-- Select state --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="zipcode" class="control-label col-md-4">Postcode</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" id="zipcode" name="zipcode">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-sm-12">
                    <fieldset>
                        <legend class="custom-legend">Contact </legend> 
                        <div class="form-group">
                            <label for="email" class="control-label col-md-4">Email</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>
                        <div id="dynamicTel">
                            <div class="form-group">
                                <label for="phone-numbers" class="control-label col-md-4">Phone</label>
                                <div class="col-md-8">
                                    <input type="tel" name="phone-numbers" id="phone-numbers" class="form-control" readonly>
                                    <button class="btn btn-link more-field-link" id="addTelephone">Add More</button>
                                </div>
                            </div>
                        </div>
                        <div id="dynamicContact">
                            <div class="form-group">
                                <label for="contact-c2t-ids" class="control-label col-md-4">Contact Person ID</label>
                                <div class="col-md-8" id="contact-person-div">
                                    <input type="text" class="form-control" id="contact-c2t-ids" name="contact-c2t-ids" readonly>                                
                                    <button class="btn btn-link more-field-link" id="addContact">Add More</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-12 col-md-offset-2" style="text-align: right;">
                    <a class="btn btn-danger" id="clearForm" href="/dashboard">
                        <i class="glyphicon glyphicon-remove"></i>
                        &nbsp; Cancel
                    </a>                
                    <button class="btn btn-primary" id="saveBTN" type="submit">
                        <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp; Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="assets/js/register-company.js"></script>