<div class="container" style="text-align:center;">
    <div class="row">
        <h3 class="text-primary" id="heading">Add Relationship</h3>
    </div>
    <hr>
    <div id="dashItemsContainer">
        <div class="row" style="margin-top: 32px">
            <div class="col-md-4">
                <a href="/add-worker-relationship">
                    <div class="dash-item">Add Worker</div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="dash-item">Add Tenant</div>
            </div>
            <div class="col-md-4">
                <div class="dash-item">Add Item</div>
            </div>
        </div>
        <div class="row" style="margin-top: 32px">
            <div class="col-md-4">
                <div class="dash-item">Add Landlord</div>
            </div>
            <div class="col-md-4 rDash">
                <div class="dash-item">Add Business Partner</div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        getUserDetail(username);
    })();
</script>