<div class="container" style="text-align:center;">
    <div class="row">
        <h3 class="text-primary" id="heading">Search</h3>
    </div>
    <hr>
    <div class="row" style="margin-top: 32px">
        <div class="col-md-4">
            <a href="/search-person">
                <div class="dash-item">Search for a Person</div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <div class="dash-item">Search for an Item</div>
            </a>
        </div>
    </div>
</div>
