<div class="container-fluid">
    <div class="row" align="center">
        <h3 class="text-primary" id="heading">Search for a person</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-2 col-sm-12">
            <form id="searchPersonForm" name="searchPersonForm">
                <div class="form-group">
                    <label for="nin" class="control-label col-md-6">NIN</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="nin" name="nin">
                    </div>
                </div>
                <div class="form-group">
                    <label for="c2tId" class="control-label col-md-6">C2T ID</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="c2t-id" name="c2t-id">
                    </div>
                </div>
                <div class="form-group">
                    <label for="first-name" class="control-label col-md-6">First name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="first-name" name="first-name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="last-name" class="control-label col-md-6">Last name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="last-name" name="last-name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-md-6">What are you looking for?</label>
                    <div class="col-md-6">
                        <div class="checkbox">
                            <label><input type="checkbox" checked> Employment history report (worker)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" readonly> Tenant history report (tenancy)</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" readonly> Landlord report</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" readonly> Full report</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" align="right">
                    <button class="btn btn-primary btn-md" id="searchBtn" type="submit"><i
                            class="glyphicon glyphicon-search"></i> &nbsp; Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-condensed table-responsive table-hover" id="searchResultTable">
                <thead>
                <tr>
                    <th><strong>Photo</strong></th>
                    <th><strong>C2T ID</strong></th>
                    <th><strong>Name</strong></th>
                </tr>
                </thead>
                <tbody id="searchResultTableBody">

                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="assets/js/search-person.js"></script>
