<div class="container">
    <div class="row" align="center">
        <div id="verifyAlertBox"></div>
        <h3>Please verify your relationship with</h3>

        <h2 id="userFullName" class="text-primary userFullName"></h2>

        <button class="btn btn-primary btn-lg" type="button" id="verifyBtn" style="margin-top: 5%">Verify</button>


    </div>

</div>

<script src="assets/js/rate-relationship.js"></script>