<div class="container" style="text-align:center;">
    <div class="row">
        <h3 class="text-primary" id="heading">Verification</h3>
    </div>
    <hr>
    <div class="row" style="margin-top: 32px">
        <div class="col-md-4">
            <a href="#">
                <div class="dash-item">ID Verification</div>
            </a>
        </div>
    </div>
</div>
