<div class="container-fluid">
    <div class="row" align="center">
        <h3 class="text-primary" id="heading">View Person</h3>
    </div>
    <button onclick="goBack()" class="btn btn-default">
        <i class="glyphicon glyphicon-arrow-left"></i> Back to search
    </button>
    <hr>
    <div class="container">
        <div class="row well" id="userDetails">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-4 thumbnail">
                        <img src="" id="photoUrl" class="img-responsive">
                    </div>
                    <div class="col-md-8 col-sm-8">
                        <p>
                            <strong id="name">Name: </strong>
                        </p>
                        <p>
                            <strong id="c2tId">C2T ID: </strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="well">
                    <p id="dob">Date of birth: </p>
                    <p id="email">Email Address: </p>
                    <p id="phone">Telephone number: </p>
                    <p id="nin">National identity number: </p>
                    <p id="passport">Int'l Passport number: </p>
                    <p id="driversLicence">Driver's licence: </p>
                    <p id="votersCard">Voter's card: </p>
                    <p id="bvn">Bank verification number: </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="well">
                    <p id="address">Address: </p>
                    <p id="city">City: </p>
                    <p id="state">State: </p>
                    <p id="zipcode">Zipcode: </p>
                </div>
            </div>
        </div>
        <div class="row well" id="employmentRecords">
            <h2>Employment Records</h2>
        </div>
        <div class="row well" id="businessRecords">
            <h2>Business Partnerships</h2>
        </div>
        <div class="row well" id="landlordRecords">
            <h2>Landlord Records</h2>
        </div>
        <div class="row well" id="tenancyRecords">
            <h2>Tenancy Records</h2>
        </div>
    </div>
</div>

<script src="assets/js/view-person.js"></script>