<!-- FOOTER -->

<div class="container">
    <div class="col-md-2">
        <p>
            <a href="/terms-and-conditions">Terms & Condition</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a href="/privacy-policy">Privacy Policy</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a href="/about-us">About Us</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a href="/faqs">FAQs</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a href="/feedback">Feedback</a>
        </p>
    </div>
    <div class="col-md-2">
        <p>
            <a href="/contact-us">Contact Us</a>
        </p>
    </div>
</div>

<script src="assets/js/vendor/ie10-viewport-bug-workaround.js"></script>
<!--</body>

</html>-->