 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="assets/img/favicon.ico">

<title>Check to Trust</title>

<link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css" />
<link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="assets/css/app.css" />

<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/vendor/bootstrap-datepicker.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/state-manager.js"></script>