<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="assets/img/icon.png" alt="c2t icon">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav" id="user-navbar">
                <li id="item-dashboard">
                    <a href="/dashboard">Dashboard</a>
                </li>
                <li id="item-home">
                    <a href="/">Home</a>
                </li>
                <li id="item-tradelisting">
                    <a href="/tradelisting">TradeListing</a>
                </li>
                <li id="item-registration">
                    <a href="/registration">Registration</a>
                </li>
                <li id="item-search">
                    <a href="/search">Search</a>
                </li>
                <li id="item-verification">
                    <a href="/verification">Verification</a>
                </li>
                <li id="item-tracking">
                    <a href="/tracking">Tracking</a>
                </li>
                <li id="item-pricing">
                    <a href="/pricing">Pricing</a>
                </li>
                <li id="item-blog">
                    <a href="#">Blog</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" id="dropdown">
                <li class="dropdown" id="item-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="menu_username"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" id="profile-menu">
                        <li id="item-profile">
                            <a href="#">Profile</a>
                        </li>
                        <li id="item-manageUsers">
                            <a href="/users">Manage Users</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li id="item-logout">
                            <a href="#" onclick="logout();">Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
