@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html {
    height: 100%
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans', Roboto, sans-serif !important;
}

.custom-color {
    background-color: #1abc9c;
}

nav {
    padding: 16px 16px;
    margin-bottom: 0px !important;
}

.navbar-inverse {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: medium;
    font-weight: bold;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #1abc9c;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-brand>img {
    width: 72px;
    margin-top: -25px;
}

.btn-primary {
    border-radius: 8px;
    padding: 8px 16px;
}

.btn-custom {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-custom:focus,
.btn-custom.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-custom:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.form-control {
    margin-bottom: 4px;
    border: 1px solid #1abc9c;
}

footer {
    margin-top: 8px;
    padding: 40px;
    background-color: #318474;
    color: #ffffff !important;
    display: block;
    font-size: small;
    bottom: 0;
}

footer a {
    color: #ffffff !important;
}

main {
    margin-top: 10px;
    flex: 1;
}

.signup-modal {
    background-color: #1abc9c;
    color: #fff;
    border: 3px solid #ddd;
    top: 50px;
    padding: 4px 16px;
}

#TOS {
    margin-top: 16px;
}

#TOS a {
    color: #fff;
    text-decoration: none;
}

.divider {
    margin-bottom: 20%;
}

.shadow {
    border-right: 0.2px solid #318474;
}

.panel {
    width: 100%;
}

.fixed {
    max-height: 220px;
    min-height: 150px;
}

.equal {
    text-align: center;
}

.padded {
    padding-bottom: 5%;
}

.align_bottom {
    position: absolute;
    bottom: 0%;
    left: 35%
}

.dash-item {
    background-color: #E0F2F2;
    width: 99%;
    padding: 15%;
    margin: auto;
    cursor: pointer;
}


/********************************/


/*       Fade Bs-carousel       */


/********************************/

.fade-carousel {
    position: relative;
    height: 60vh;
    margin-top: -20px;
    margin-bottom: -60px;
}

.fade-carousel .carousel-inner .item {
    height: 50vh;
}

.fade-carousel .carousel-indicators>li {
    display: none;
}

.fade-carousel .carousel-indicators>li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}


/********************************/


/*          Hero Headers        */


/********************************/

.hero {
    position: absolute;
    top: 60% !important;
    left: 50% !important;
    z-index: 3;
    padding-bottom: 0.5%;
    color: #fff;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.hero h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.hero button {
    text-align: center;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}

.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
}


/********************************/


/*          Custom Buttons      */


/********************************/

.btn.btn-lg {
    padding: 10px 40px;
}

.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}


/********************************/


/*       Slides backgrounds     */


/********************************/

.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.fade-carousel .slides .slide-1 {
    background-image: url(../img/checking.jpg);
}

.fade-carousel .slides .slide-2 {
    background-image: url(../img/nimc.jpg);
}

.fade-carousel .slides .slide-3 {
    background-image: url(../img/register.jpg);
}

.fade-carousel .slides .slide-4 {
    background-image: url(../img/search.jpg);
}


/********************************/


/*          Media Queries       */


/********************************/

@media screen and (min-width: 980px) {
    .hero {
        width: 980px;
    }
    .hero {
        width: 980px;
    }
    .equal {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

@media screen and (max-width: 640px) {
    .hero {
        width: 80% !important;
    }
    .hero h1 {
        font-size: large !important;
    }
    .shadow {
        border: none;
        border-bottom: 0.1px solid #43DEC1 !important;
    }
    .align_bottom {
        position: initial;
        width: auto;
        margin: auto;
    }
}

fieldset {
    border: 1px solid #1abc9c !important;
    margin: 0;
    min-width: 0;
    padding: 10px 5px;
    position: relative;
    border-radius: 5px;
}

.custom-legend {
    padding: 5px 5px;
    margin-bottom: 4px;
    font-size: 18px;
    border-bottom: none;
}


h3#heading {
    font-weight: bold;
}

.createRelBTN {
    display: inline-block;
}

img#userImage {
    height: 120px;
    width: 120px
}

h5#categoryType {
    font-weight: bold;
    text-align: left;
}

p#createRelBTN {
    display: inline-block;
}

button#addRelationship {
    margin-top: 16px;
    margin-right: 16px;
    float: right
}

h4#newRegLink {
    text-align: right;
    margin-right: 16px;
    font-weight: bold
}

h4#newRegLink a {
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    h5#categoryType {
        font-weight: bold;
        text-align: center;
    }
    h5#categoryType {
        font-weight: bold;
        text-align: center;
    }
    p#createRelBTN {
        display: inline-block;
        float: none;
    }
}

.control-label {
    margin-top: 8px;
    text-align: right;
}

h5#categoryType {
    font-weight: bold;
}

.custom-image {
    max-height: 70px;
    max-width: 70px;
    padding-bottom: 5px;
}

.clickable {
    cursor: pointer;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.form-group {
    margin-bottom: 7px !important;
}

.btn-circle {
    border-radius: 50%;
    padding: 0.1em;
    width:1.8em;
}

label.control-label {
    padding-right: 2px;
}

#dynamic {
    padding-bottom: 12px;
}

#addIDType {
    padding: 0px;
}

.danger-link {
   color: red;
   padding: 0;
}

.dynamicWrapper {
    background-color: #ececec;
    border-radius: 5px;
    text-align: end;
    margin-bottom: 5px;
}

#removeIDType2, #removeIDType3, .red-remove {
    color:red;
    cursor: pointer;
}

/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 2.5em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #169f84;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #2ff5ce;  }

.submitRatingBtn {
    padding: 16px;
}

.more-field-link{
    padding: 0px;
}

#archiveBtn {
    margin-right: 8px;
}

textarea {
    resize: vertical;
}